<mat-card class="mat-panel">
    <img mat-card-image [src]="options.imageUrl" [alt]="options.name">
    <mat-card-header>
        <mat-card-title >{{options.name}}</mat-card-title>
        <mat-card-subtitle><strong>{{options.price | currency: 'INR'}}</strong></mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-title-group>
        <mat-card-title >{{options.title}}</mat-card-title>
        <mat-card-subtitle>{{options.subTitle}}</mat-card-subtitle>
    </mat-card-title-group> -->
    <mat-card-content>
        <p>
            {{options.description}}
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="add(options.id)">Add to Cart</button>
    </mat-card-actions>
</mat-card>