.top-right-corner {
    float: right;
    top: -15px;
    right: -15px;
}

.align-with-icon {
    position: relative;
    top: -5px;
    margin-left: 5px;
}

.alert-message {
    vertical-align: text-bottom;
}
