.mat-panel {
    max-width: 80%;
}

.delivery-form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
}

.input-width {
    width: 100%;
}

.container {
    display: flex;
    margin-bottom: 10px;
}

.fill {
    flex: 1;
}